input {
    width: 500px;
    min-width: 300px;
    height: 50px;
    border-radius: 30px;
    border-color: grey;
    border-width: 1px;
}
input[type="submit"], input[type="button"] {
    min-width: 160px;
    width: 160px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    
}
body {
    margin: 0 auto;
}
form {
    margin: 0 auto;
    width: 500px;
}
#images {
    text-align: right;
    padding-right: 2rem;
}
img {
    height: 92px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}